<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Data visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/global.css" th:href="@{/styles/global.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/button.css" th:href="@{/styles/button.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/errors.css" th:href="@{/styles/errors.css}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h1>Data visualizer</h1>

<div class="inform">
    <div class="inline">
        <p>
            Please, <span>select the period you want in the available time interval</span>
        </p>
    </div>
    <div class="inline" th:text="${#temporals.format(startTime, 'yyyy-MM-dd HH:mm')}">Start time</div>
    <div class="inline">
        <p> - </p>
    </div>
    <div class="inline" th:text="${#temporals.format(endTime, 'yyyy-MM-dd HH:mm')}">End time</div>
</div>

<form action="index.html" th:action="@{/period}" th:method="post" th:object="${request}">
    <div class="inform">
        <label for="start-time-input"><span>Start time</span></label><br>
        <input id="start-time-input" name="start-time" type="datetime-local" th:field="*{startTime}" />
        <div class="errors" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Wrong start time</div>
    </div>
    <div class="inform">
        <label for="end-time-input"><span>End time</span></label><br>
        <input id="end-time-input" name="end-time" type="datetime-local" th:field="*{endTime}" />
        <div class="errors" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">Wrong end time</div>
    </div>

    <div class="inform">
        <button class="ordinary-btn" type="submit">Send</button>
    </div>
</form>

</body>
</html>